
<generic-header ng-model="data" wide="true"></generic-header>
<div class="container">
  <tab-bar>
    <tabbar-tab section="overview" label="{{ 'overview' | locale}}"></tabbar-tab>
    <tabbar-tab section="categories" label="{{ 'genres-and-themes' | locale }}"></tabbar-tab>
    <tabbar-tab section="newreleases" label="{{ 'new-releases' | locale }}"></tabbar-tab>
    <tabbar-tab section="shows" label="{{'shows' | locale}}"></tabbar-tab>
    <tabbar-tab section="curators" label="{{'curators' | locale}}"></tabbar-tab>
  </tab-bar>
</div>
<div class="container" tab-content section="overview">
  <div ng-show="featuredPlaylists.length > 0">
    <h3>{{message}}</h3>
    <sp-flow class="playlists">
      <sp-item ng-model="t" ng-repeat="t in featuredPlaylists.slice(0,5)">

      </sp-item>
    </sp-flow>
    <hr/>
    <br/>
  </div>
  <h3>{{'Latest curators' | locale}}</h3>
  <div ng-show="curators.length > 0">
    <sp-flow class="albums">
      <sp-item round="true" ng-model="t" ng-repeat="t in curators.slice(0,5)">
      </sp-item>
    </sp-flow>
    <hr/>
    <br/>
  </div>
  <h3>{{'genres-and-themes' | locale}}</h3>
  <div ng-show="genresMoods.length > 0">
    <sp-flow class="genres">
      <sp-item ng-model="t" ng-repeat="t in genresMoods">

      </sp-item>
    </sp-flow>
    <hr/>
    <br/>
  </div>
</div>
<div class="container" tab-content section="categories">
  <div ng-show="genresMoods.length > 0">
    <sp-flow class="genres">
      <sp-item ng-model="t" ng-repeat="t in genresMoods">

      </sp-item>
    </sp-flow>
    <hr/>
    <br/>
  </div>
</div>
<div class="container" section="newreleases" tab-content>
  <div ng-show="newReleases.length > 0">
    <sp-flow class="albums">
      <sp-item ng-model="t" ng-repeat="t in newReleases">

      </sp-item>
    </sp-flow>
    <hr/>
    <br/>
  </div>
</div>
<div class="container" section="shows" tab-content>
  <div ng-show="shows.length > 0">
    <sp-flow class="albums">
      <sp-item ng-model="t" ng-repeat="t in hows">
      </sp-item>
    </sp-flow>
    <hr/>
    <br/>
  </div>
</div>
<div class="container" section="curators" tab-content>
    <div ng-show="curators.length > 0">
      <sp-flow class="albums">
        <sp-item ng-model="t" ng-repeat="t in curators">
        </sp-item>
      </sp-flow>
      <hr/>
      <br/>
    </div>
</div>