<html ng-app="PlayerApp">
	<head>
		<link rel="manifest" href="/manifest.json">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-31B2N133JQ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-31B2N133JQ');
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147672765-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-147672765-1');
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Thirtify (Pre-alpha)</title>
		<base href="/">
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="grid12.css" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


		<script src="https://sdk.scdn.co/spotify-player.js"></script>
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/vibrant/Vibrant.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/array-diff/array-diff.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="https://unpkg.com/parse/dist/parse.min.js"></script>
		<script src="app.js"></script>
				<script src="services/thirtify.js"></script>

		<script src="services/auth.js"></script>
		<script src="services/api.js"></script>
		<script src="services/playback.js"></script>
		<script src="services/playqueue.js"></script>
		<script src="directives/app.js"></script>
		<script src="directives/scroll.js"></script>
		<script src="directives/playlistcover.js"></script>
		<script src="directives/responsivecover.js"></script>
		<script src="directives/trackannouncement.js"></script>
		<script src="directives/contextmenu.js"></script>
        <script src="directives/item.js"></script>
		<script src="directives/focusme.js"></script>
		<script src="directives/tabbar.js"></script>
		<script src="directives/header.js"></script>
		<script src="directives/flow.js"></script>
		<script src="directives/tabcontent.js"></script>
		<script src="directives/tab.js"></script>
		<script src="directives/recommendations.js"></script>
		<script src="filters/displaytime.js"></script>
		<script src="filters/timeago.js"></script>
		<script src="controllers/player.js"></script>
		<script src="controllers/show.js"></script>
		<script src="controllers/login.js"></script>
		<script src="controllers/curator.js"></script>
		<script src="controllers/creator.js"></script>
		<script src="controllers/genre.js"></script>
		<script src="controllers/library.js"></script>
		<script src="controllers/chart.js"></script>
		<script src="controllers/year.js"></script>
		<script src="controllers/search.js"></script>
		<script src="controllers/country.js"></script>
		<script src="controllers/label.js"></script>
		<script src="controllers/track.js"></script>
		<script src="controllers/episode.js"></script>
		<script src="controllers/hashtag.js"></script>
		<script src="controllers/playlist.js"></script>
		<script src="controllers/home.js"></script>
		<script src="controllers/artist.js"></script>
		<script src="controllers/app.js"></script>
		<script src="controllers/album.js"></script>
		<script src="controllers/audiobook.js"></script>
		<script src="controllers/author.js"></script>
		<script src="controllers/publisher.js"></script>
		<script src="controllers/user.js"></script>
		<script src="controllers/usertracks.js"></script>
		<script src="controllers/playqueue.js"></script>
		<script src="controllers/searchresults.js"></script>
		<script src="controllers/browse.js"></script>
		<script src="controllers/browsecategory.js"></script>
		<script src="controllers/channel.js"></script>
		<script src="apps/reddit/js/main.js"></script>
	</head>
	<body ng-controller="AppController">
		<div class="fullview playerview" ng-show="showplayer">
			<div ng-controller="PlayerController" class="main">
				<div class="topgroup " style="display: none">
					<div class="controller ">
						<div class="buttons">
							<button style="padding: 8pt" onclick="history.back()">&lt;</button>
							<button style="padding: 8pt" href="#" onclick="history.forward()">&gt;</button>
						</div>
						<div class="searchbox">
							<form novalidate ng-submit="loadsearch()">
								<input type="text" ng-model="query" placeholder="Search..." />
							</form>
						</div>
						<div class="titlebox" style="flex: 1">
							<a href="/home">THIRTIFY (Pre-alpha fork by Buddhalow)</a>
						</div>
						<div class="userbox">
							Signed in as <b><a href="#/users/{{profileUsername}}">{{profileUsername}}</a></b>
							<a ng-click="logout()">Log out</a>
						</div>
					</div>
				</div>
				<div class="midgroup">
					<div class="menuview">
						<div class="list scrollable" style="flex: 1; height: 100%">
							<b><a href="/">MAIN</a></b>
							<ul class="menuitems">
								<li><a href="/" ng-class="getClass('/')">Browse</a></li>
								<li><a href="/search" ng-class="getClass('/search')">Search</a></li>
							</ul>
							<b><a href="/me">YOUR MUSIC</a></b>
							<ul class="menuitems">
								<li><a href="/users/{{username}}/tracks" ng-class="
									('/users/{{username}}/tracks')">Songs</a></li>
							</ul>
							<b><a href="/me">YOUR APPS</a></b>
							<ul class="menuitems">
								<li><a href="/app/reddit" ng-class="getClass('/app/reddit')">Reddit</a></li>
							</ul>
							<b><a href="/me">Library</a></b>
							<ul class="menuitems">
								<li>
									<a href="/library#playlists">
										Playlists
									</a>
								</li>
								<li>
									<a href="/library#artists">
										Artists
									</a>
								</li>
								<li>
									<a href="/library#albuns">
										Albums
									</a>
								</li>
							</ul>
						</div>
						<div class="preview" style="display: none">
							<a href="/albums/{{trackdata.album.id}}">
								<responsive-cover ng-model="trackdata.album.images"></responsive-cover>
							</a>
							<p>
								<b>{{trackdata.name}}</b>
								<a href="/artists/{{trackdata.artists[0].id}}">
									{{trackdata.artists[0].name}}
								</a>
							</p>
						</div>
					</div>
					<div class="mainview" scroll>
						<div ng-controller="SearchController"  class="search">
								<form novalidate ng-submit="loadsearch()" >
									<input type="search" style="border: none; background: none;" ng-model="query" placeholder="Search..." />
								</form>
						</div>
						<div ng-view style="flex: 1"></div>
					</div>
					<div class="rightgroup" style="display: none"></div>
				</div>
				<div class="bottomgroup">
					<div class="leftcontrols">
						<div class="prevbutton">
							<a ng-click="prev()"><img src="images/btn-prev.png" /></a>
						</div>

						<div class="playbutton">
							<a ng-click="resume()" ng-hide="playing"><img src="images/btn-play.png" /></a>
							<a ng-click="pause()" ng-show="playing"><img src="images/btn-pause.png" /></a>
						</div>

						<div class="nextbutton">
							<a ng-click="next()"><img src="images/btn-next.png" /></a>
						</div>

						<div class="volume">
							<input type="range" ng-change="changevolume()" min="0" max="100" ng-model="volume" />
						</div>
					</div>
					<div class="seekcontrols">
						<div class="progress">{{ progress | displaytime }}</div>
						<div class="duration">{{ duration | displaytime }}</div>
						<div class="slider">
							<input type="range"   ng-value="progress" ng-change="changeprogress()" min="0" max="{{duration}}" />
						</div>
					</div>
					<div class="rightcontrols">
						<!--
						a ng-click="shuffle()">SHUF</a>
						a ng-click="repeat()">REP.</a>
						-->
					</div>
				</div>
			</div>
		</div>

		<div class="fullview loginview" ng-show="showlogin">
			<div ng-controller="LoginController">
				<div class="centered">
					<div class="inner">
						<h1>Thirtify</h1>
						<p>
							This demo explores the possibilities with the Web API. To view this demo you need to sign in with your spotify account.
						</p>
						<p>
							This app is a fork of Thirtify which aims to add better music browsing features and independent curator browsing.

						</p>
						<p>NOTE: This is a pre-alpha software. Use at your own risk</p>
						<a ng-click="login()" class="button big green">login</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
