
<generic-header ng-model="data" followable="true" wide="true" playable="true"></generic-header>
<div class="container">
  <tab-bar>
    <tabbar-tab section="overview" label="Overview"></tabbar-tab>
    <tabbar-tab section="artists" label="Fan also like"></tabbar-tab>
	  <tabbar-tab section="about" label="About"></tabbar-tab>
  </tab-bar>
</div>
<section tab-content section="overview" class="container">
	<div class="row">
		<div class="col-md-8">
			<h3>{{ 'latest-release' | locale}}</h3>
			<a  ng-model="release" ng-if="release">
				<sp-entry>
					<img src="{{release.images[0].url}}" width="96" height="96"/>
					<div style="padding: 10pt">
						<h3>{{release.name}}</h3>
						<p>{{release.release_date}}</p>
					</div>
				</sp-entry>
			</a>
			<h3>{{ 'popular-tracks' | locale }}</h3>
			<table class="tracks">
				<thead>
					<th></th>
					<th>#</th>
					<th></th>
					<th>{{ 'songs' | locale }}</th>
				</thead>
				<tbody>

					<tr ng-repeat="t in toptracks.slice(0,5)" ng-dblclick="play(t.uri)"  ng-class="{ playing: (t.uri == currenttrack) }">
						<td><img src="{{t.album.images[0].url}}" width="32"></td>
						<td>{{$index + 1}}</td>
						<td>
							<button ng-click="toggleFromYourMusic($index)" style="opacity: 0.5"> {{ t.inYourMusic ? '-' : '+' }} </button>
						</td>
						<td class="name">{{t.name}}</td>

					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<h3>{{ 'fan-also-likes' | locale }}</h3>
			<div ng-if="!artists">
				{{ 'error-loading-related-artists' | locale }}
			</div>
			<div ng-if="artists" style="display: flex; flex-direction: column">
				<a href="/artists/{{artist.id}}" ng-repeat="artist in artists" style="flex-direction: row; display: flex; align-content: center; align-items: center">
					<img style="border-radius: 50pt" src="{{artist.images[0].url}}" width="48" height="48" style="display: inline-block" />
					<span style="margin-left: 12pt">{{artist.name}}</span>
				</a>
			</div>
		</div>
	</div>
	<div class="container">

	<div ng-show="shows.length > 0">
		<h3>{{ 'shows-featuring' | locale:data.name }}</h3>
		<sp-flow class="playlists">
			<sp-item ng-model="t">
				<a href="/shows/{{t.id}}">
					<responsive-cover ng-model="t.images"></responsive-cover>
				</a>
				<p>
					<b><a href="/albums/{{t.id}}">{{t.name}}</a></b>
				</p>
			</sp-item>
		</sp-flow>
		<hr/>
		<br/>
	</div>
	</div>
	<div ng-show="albums.length > 0">
		<h3>{{ 'albums' | locale }}</h3>
		<sp-flow class="albums">
			<sp-item ng-model="t" ng-repeat="t in albums">
			</sp-item>
		</sp-flow>
		<hr/>
		<br/>
	</div>

	<div ng-show="singles.length > 0">
		<h3 style="text-align: center">{{ 'singles' | locale }}</h3>
		<sp-flow class="albums">
			<sp-item ng-model="t" ng-repeat="t in singles">
			</sp-item>
			</a>
		</sp-flow>
		<hr/>
		<br/>
	</div>
	<div ng-show="appearson.length > 0">
		<h3>{{ 'appears-on' | locale }}</h3>
		<sp-flow class="albums">
			<sp-item ng-model="t" ng-repeat="t in appearson">
			</sp-item>
		</sp-flow>
		<hr/>
		<br/>
	</div>

	<div ng-show="shows.length > 0">
		<h3>{{ 'shows' | locale }}</h3>
		<ul class="albums">
			<li ng-repeat="t in shows">
				<a href="/show/{{t.id}}">
					<responsive-cover ng-model="t.images"></responsive-cover>
				</a>
				<p>
					<b><a href="/shows/{{t.id}}">{{t.name}}</a></p>
				</p>
			</li>
		</ul>
		<hr/>
		<br/>
	</div>
</section>
<section tab-content section="artists" class="container">
		<div ng-show="artists.length > 0">
			<sp-flow>
				<sp-item round="true" ng-model="t" ng-repeat="t in artists">


				</sp-item>
			</sp-flow>
			<hr/>
			<br/>
		</div>
	</div>
</section>
<section tab-content section="about" class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

			</div>
			<div class="col-md-4">
				<h3>{{ 'discovered-on' }}</h3>
				<sp-item ng-model="playlist" ng-repeat="playlist in playlists">

				</sp-item>
			</div>
		</div>
	</div>
</section>
<!--

<br/>

<p>ID {{artist}}</p>

<hr/>

<h2>Missing functionality</h2>

<p><a href="#">PLAY FIRST THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

<p>Latest release</p>

<p>Popular tracks</p>

<p>Related artists</p>

<p>Albums (list | covers)</p>

<p>Singles (list | covers)</p>

<p>Appears on (list | covers)</p>
-->