<a ng-href="/{{data.type}}/{{data.id}}" class="entry" style="display: flex; flex-direction: row; align-items: center; padding: 3pt">
    <div style="margin: 3pt; display: flex; align-items: center; justify-content: center" ng-if="data.images && data.images.length > 0">
        <img ng-src="data.images[0].url" width="16">
    </div>
    <div style="padding: 1.5pt; display: flex; flex-direction: column">
        <p>{{data.name}}</p>
        <small>{{data.type ? data.type.toUpperCase() : ''}}</small>
    </div>
</a>