
<generic-header ng-model="data.show" followable="true" wide="true" playable="true"></generic-header>
<div class="">
	<div style="display: flex; flex-direction: column">
		<div style="display: flex; flex-direction: column; padding: 20pt">
			<h1>{{data.name}}</h1>
			<p>{{data.description}}</p>

			<a style="float: right" class="button" ng-click="toggleShowAll()" ng-if="showAll">Show all tracks</a>
			<a style="float: right" class="button" ng-click="toggleShowAll()" ng-if="showAll">Show only current track</a>
		</div>
		<div style="flex: 0 0 25%">
			<img ng-src="{{data.images[0].url}}" width="100%">
		</div>
	</div>
</div>

<!--

<p>(C) (P) info</p>

<p>More by...</p>

<hr/>

<hr/>

<p>POPULARITY</p>
<p>{trackname} - {artists}</p>
-->
