<generic-header ng-model="data"></generic-header>
<div class="container">
	<div class="row">

		<div class="col-md-12 d-flex flex-column">
			<input class="form-control" placeholder="Filter" type="search" style="width: 100%" ng-model="q">

			<table class="tracks" style="width: 100%">
				<tbody>
					<tr ng-repeat="t in tracks | filter: q" ng-dblclick="play(t.track.uri)" ng-class="{ playing: (t.track.uri == currenttrack) }" ng-context-menu="menuOptionsPlaylistTrack(t, $index)">

						<td>
							<button ng-click="toggleFromYourMusic($index)"> {{ t.track.inYourMusic ? '-' : '+' }} </button>
						</td>
						<td class="name">
							<a href="/track/{{t.track.id}}"><b>{{t.track.name}}</b></a>
							<p style="opacity: 0.5">
								<a href="/artists/{{t.track.artists[0].id}}">{{t.track.artists[0].name}}</a> · <a href="/albums/{{t.track.album.id}}">{{t.track.album.name}}</a> {{ t.track.duration_ms | displaytime }} </p>
							<p>Added by <a href="/users/{{t.added_by.id}}">{{t.added_by.display_name}}</a>{{t.added_at | timeago}} </p>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--

<hr/>

<h2>Missing functionality</h2>

<p>Mosaic</p>

<p><a href="#">PLAY FIRSTT THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

-->
