<generic-header ng-model="data" followable="true" playable="true"></generic-header>
<div style="height: 80pt"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<h3>About show</h3>

			<p>{{data.showDescription}}</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<input class="form-control" placeholder="Filter" type="search" style="width: 100%" ng-model="q">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<div style="padding: 15pt" ng-repeat="t in episodes | filter:q">
				<div class="entry"  ng-dblclick="play(t.uri)"  ng-class="{ playing: (t.episode.uri == currenttrack) }" ng-context-menu="menuOptionsPlaylistTrack(t, $index)">

					<div>
						<img height="64" src="{{t.images[0].url}}">

					</div>
					<div class="name" ng-dblclick="play(t.uri)">
						<a style="font-size: 12pt" href="/episode/{{t.id}}">{{t.name}}</a>
						<span style="opacity: 0.8;">{{t.release_date | timeago}}</span>

						<p style="opacity: 0.9">{{t.description.substr(0, 350)}}...</p>
						<span style="opacity: 0.8;">{{t.duration_ms | displaytime}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<br/>

	<hr/>
</div>

<!--

<hr/>

<h2>Missing functionality</h2>

<p>Mosaic</p>

<p><a href="#">PLAY FIRSTT THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

-->
